* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	background: #abcbf2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.beat {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.text {
	color: #282a36;
	font-family: 'Roboto Mono', monospace;
	font-size: 8rem;
}

.heart {
	width: 80px;
	height: 80px;
	background-color: #f01321;
	position: relative;
	transform: rotate(45deg);
	animation: heartbeat 3s linear infinite;
}

.heart::after, .heart::before {
	content: ' ';
	height: 80px;
	width: 80px;
	background-color: #f01321;
	border-radius: 50%;
	position: absolute;
}

.heart::before {
	top: -40px;
}

.heart::after {
	left: -40px;
}

/* animation */
@keyframes heartbeat {
	0% { 
		transform: scale(1) rotate(45deg); 
	}
        
	25% { 
		transform: scale(1.4) rotate(45deg); 
	}
	
	50% { 
		transform: scale(1.2) rotate(45deg); 
	}

	75% { 
		transform: scale(1.4) rotate(45deg); 
	}

	100% { 
		transform: scale(1) rotate(45deg); 
	}
}