* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	background: #15161a;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h2 {
	color: #e9e2dc;
	font-family: 'Raleway', sans-serif;
	font-size: 1.75rem;
	margin-bottom: 75px;
}

.btn {
	width: 350px;
	color: #d53a9d;
	background: transparent;
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;	
	text-shadow: 0 0 2px #d53a9d;

	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	border: 12px solid;
	border-image-slice: 1;
	border-width: 5px;
	box-shadow: 0 2px 6px #d53a9d;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.btn::after {
	content: 'Siiim 🤚🏻';
	width: 100%;
	color: #ffffff;
	height: 100%;
	background: linear-gradient(to left, #743ad5, #d53a9d);
	top: 0;
	left: 0;
	transform: translateY(-100%);
	transition-duration: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.btn:hover::after {
	transform: translateY(0%);
}